CompileFlags:
  Add:
    - -D_XOPEN_SOURCE=700
    - -DHAVE_LIBEXIF=1
    - -DHAVE_LIBFONTS=1
    - -DHAVE_INOTIFY=1
    - -I/usr/include/freetype2
    # - -DINCLUDE_WINDOW_CONFIG
    # - -DINCLUDE_IMAGE_CONFIG
    # - -DINCLUDE_OPTIONS_CONFIG
    # - -DINCLUDE_THUMBS_CONFIG
    # - -DINCLUDE_MAPPINGS_CONFIG
  Remove:
    - -fanalyzer

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      # - cert-*
      # - concurrency-*
      - linuxkernel-*
      - llvm-*
      - misc-*
      - performance-*
      # - readability-*
      - portability-*
    Remove:
      - bugprone-assignment-in-if-condition
      - bugprone-easily-swappable-parameters
      - bugprone-narrowing-conversions
      # - llvm-include-order
      - misc-unused-parameters
