CompileFlags:
  Add:
    - -D_XOPEN_SOURCE=700
    - -DHAVE_LIBEXIF=1
    - -DHAVE_LIBFONTS=1
    - -DHAVE_INOTIFY=1
    - -I/usr/include/freetype2
    - -DINCLUDE_WINDOW_CONFIG
    - -DINCLUDE_IMAGE_CONFIG
    - -DINCLUDE_OPTIONS_CONFIG
    - -DINCLUDE_THUMBS_CONFIG
    - -DINCLUDE_MAPPINGS_CONFIG

